body { 
    background: url("../images/cozumel.jpg") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 34px;
}

#wrapper {
     width: 1030px;
     margin: 0 auto;
}
#leftcolumn, #rightcolumn {
    float: left;
    min-height: 430px;
    color: white;
}
#leftcolumn {
     width: 370px;
     background-color: #111;
 }
#rightcolumn {
     margin-left: 100px;
     width: 550px;
     background-color: rgb(0.0.5.0);
     text-align: center;
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
    color: white;
    font-size: 25px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

img {
    float: left;
    margin-right: 10px;
    clear: both;
}

p {
    margin-left: 0px;
    overflow: auto;
    display: block;
    padding-top: 2rem;
    font-size: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

h1 {
    color: white!important;
    font: solid bold;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
nav {
    color: white!important;
    float: right;
    margin-top: 10px;

}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 15px;
    display: inline-block;
    border-left: 1px solid #efefef;
    padding-left: 15px;
    line-height: 18px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

footer {
    background: #666;
    color: #fff;
    clear: both;
    color: #ccc;
    font-size: 8px;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
  /* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
    height: auto;
    float: left;
}
/*main*/

#main-container {
    padding-top: 130px;
}

.main-section {
    background: #fff;
    padding: 30px;
    margin: 0 0 40px 0;
    width: 100%;
    max-width: 650px;
    float: left;
    border: 1px solid #ddd;
}

.row {
    float: left;
}

.masthead {
    color: white!important;
    float: left;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/*portfolio page*/

.work:nth-child(even) {
    margin-right: 40px;
}
.work img {
    width: 100%;
    border: 0 none;
    opacity: .8;
}
.work h3 {
    border-bottom: 0;
    text-align: center;
    position: absolute;
    padding: 15px;
    width: 100%;
    bottom: 20px;
    line-height: 30px;
    margin-bottom: 0;
    font-weight: 300;
}
.auth-image {
    width: 200px;
    height: auto;
    margin-top: 10px;
    float: left;
    margin-right: 25px;
}

/*contact page*/

#contact-form ul {
    margin-bottom: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#contact-form li {
    margin-bottom: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
label,
input[type=text],
input[type=email],
textarea {
    display: block;
    width: 100%;
}
input[type=text],
input[type=email],
textarea {
    height: 20px;
    border: 1px solid #ddd;
    padding: 0 10px;
    font-size: 10px;
}
textarea {
    height: 80px;
}
input[type=submit] {
    background: #4aaaa5;
    border: 0 none;
    color: #fff;
    font-size: 10px;
    padding: 10px 30px;
    cursor: pointer;
}

/*Media Query*/

@media all and (max-width: 980px) {

    .complicatedFunctionality {
        display: none;
    }
    .masthead {  
        width: auto;
    }
    .logo {
        width: auto;
    }
    .nav {
        float: left;
        width: auto;
        padding-left: 0;
    }
    .nav a {
        float: left;
        width: auto;
        padding-left: 0;
    }
    .sidebar {
        float: left;
        width: auto;
    }
    .footer {
        width: auto;
    }
}

@media all and (max-width: 768px) {

    .complicatedFunctionality {
        display: none;
    }
    .masthead {  
        width: auto;
    }
    .logo {
        width: auto;
    }
    .nav {
        float: left;
        width: auto;
        padding-left: 0;
    }
    .nav a {
        float: left;
        width: auto;
        padding-left: 0;
    }
    .sidebar {
        float: left;
        width: auto;
    }
    .footer {
        width: auto;
    }
}

@media all and (max-width: 640px) {

    .complicatedFunctionality {
        display: none;
    }
    .masthead {  
        width: auto;
    }
    .logo {
        width: auto;
    }
    .nav {
        float: left;
        width: auto;
        padding-left: 0;
    }
    .nav a {
        float: left;
        width: auto;
        padding-left: 0;
    }
    .sidebar {
        float: left;
        width: auto;
    }
    .footer {
        width: auto;
    }
}